
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="#">Navbar</a>
  
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  
	  <span class="navbar-toggler-icon"></span>
  
	</button>
  
	<div class="collapse navbar-collapse" id="navbarNav">
  
	  <ul class="navbar-nav">
  
		<li class="nav-item active">
  
		  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
  
		</li>
  
		<li class="nav-item">
  
		  <a class="nav-link" href="{% url 'login' %}">Login</a>
  
		</li>
  

		<li>
			<a class="nav-link" href="{% url 'account' %}">Account</a>
		</li>
		
		<li>
			<a class="nav-link" href="{% url 'contact' %}">Contact</a>
		</li>
		
		<li class="nav-item">
  
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		  </li>
  
  
	  </ul>
  
	</div>
  
  </nav>
<div class="nav-wrapper">

	<a href="{% url 'home' %}">
		<div class="dots-wrapper">
			<div id="dot-1" class="browser-dot"></div>
			<div id="dot-2" class="browser-dot"></div>
			<div id="dot-3" class="browser-dot"></div>
		</div>
	</a>
	

	<ul id="navigation">
		<h2  id="close-btn" style="text-align: center">X</h2>
		<li><a href="{% url 'contact' %}">Contact</a></li>
		{% if request.user.is_authenticated %}
			<li><a href="{% url 'account' %}"> Account</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
		{% endif %}
	</ul>

</div>


<script type="text/javascript">
	let menu = 'closed' 

	let menuIcon = document.getElementById('menu-icon')
	let navigation = document.getElementById('navigation')
	let closeBtn = document.getElementById('close-btn')

	menuIcon.addEventListener('click', toggleMenu)
	closeBtn.addEventListener('click', toggleMenu)


	function toggleMenu(){
		if (menu == 'closed'){
			navigation.style.display = 'block'
			closeBtn.style.display = 'block'
			menu = 'open'
		}else{
			navigation.style.display = 'none'
			closeBtn.style.display = 'none'
			menu = 'closed'
		}
	}

	    
	
	window.addEventListener("resize", function(){
		let width = document.documentElement.clientWidth;
		if(width > 1080){
				navigation.style.display = 'block'
		}else{
				navigation.style.display = 'none'
		}
		menu = 'closed'
		closeBtn.style.display = 'none'
	});
	
</script>
